@import './base/_base';
@import './components/_button';
@import './components/_navbar';
@import './components/_searchbar';
@import './components/_tab';
@import './components/_tab-checkbox';
@import './components/_window';
@import './components/_window-list';
@import './components/_action-bar';

body {
	background: $white;
	font-size: small;
	border-radius: 4;
	margin: 0;
	min-height: 450px;
	outline: 0;
	user-select: none;
	width: 22rem;
}

.app {
	display: flex;
	flex-direction: column;
	height: 36rem;
}

::-webkit-scrollbar {
	width: 0.25rem;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: $blue; 
    -webkit-box-shadow: inset 0 0 6px $light-grey; 
}
