

$blue: #293E52;
$dark-blue: #1C2C3B;
$grey: #E5E5E5;
$white: #E5E5E5;
$light-blue: #CCA43B;
$light-grey: #E5E5E5;
$green: #CCA43B;



// $blue: #293E52;
// $dark-blue: #1C2C3B;
// $grey: #C2C9DE;
// $white: #DDDDE9;
// $light-blue: #4b93d6;
// $light-grey: #C2C9DE;
// $green: #78D492;