.action-bar {
  align-items: center;
  background: $blue;
  border-radius: 0.3rem 0.3rem 0 0;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  padding: 0 1rem 0 1.1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  
  &-container{
    align-items: center;
    display: flex;
    justify-content: space-between;

    .action-bar__tabs-actions {
      display: flex;
      align-items: center;
      padding-left: 0.3rem;
      margin: 0 0.3rem;
      color: $white;
      border-left: 1px solid #E5E5E5;
    }

    .action-bar__counter {
      align-items: center;
      background: $grey;
      border-radius: 0.5rem;
      color: $blue;
      display: flex;
      font-size: x-small;
      font-weight: bold;
      height: 1rem;
      justify-content: center;
      padding: 0 0.5rem;
      margin-right: 0.6rem;
      width: auto;

      &--edit {
        background: $blue;
        color: $grey;
      }
    }
  }

  &--edit {
    background: $yellow;
  }
}