.action-bar {
  align-items: center;
  background: $blue;
  border-radius: 4px 4px 0 0;
  display: flex;
  height: 34px;
  justify-content: space-between;
  padding: 0 18px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  
  .action-bar-container{
    align-items: center;
    display: flex;
    justify-content: space-between;

    .split{
      height: 15px;
      margin: 0 4px;
      color: $white;
      width: 1px;
      border-left: 1px solid $white;
    }

    .actions {
      // border-left: 1px solid $blue;
      display: flex;
      align-items: center;

    }

    .actions--edit {


    }
  }

  .action-bar__counter {
      align-items: center;
      background: $grey;
      border-radius: 8px;
      color: $blue;
      display: flex;
      font-weight: bold;
      font-size: x-small;
      height: 15px;
      justify-content: center;
      padding: 0 6px;
      margin-right: 8px;
      width: auto;

      &--edit {
        background: $blue;
        color: $grey;
      }
  }



  &--green {
    background: $green;
  }
}