.button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    outline: 0;
    color: $white;
    font-size: 13px;
    
    &--cog{
        color: $white;
        font-size: 18px;
    }

    &--plus-square{
        color: $white;
        font-size: 18px;
    }

    &--white {
        &:hover {
            color: $blue;
            transition: all 100ms;
        }
    }
    transition: all 100ms;

    
} 