.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: 0;

    &--cog{
        color: $white;
        font-size: 18px;
    }

    &--plus-square{
        color: $white;
        font-size: 18px;
    }

    &--small {
        color: $white;
        font-size: 13px;
    }

} 