.button {
	background: none;
	border: none;
	color: $white;
	cursor: pointer;
	display: flex;
	font-size: 13px;
	outline: 0;

	&:hover {
		color: $yellow;
		transition: all 100ms;
	}

	&--navbar {
		font-size: 18px;
	}

	&--white {
		&:hover {
			color: $blue;
			transition: all 100ms;
		}
	}
} 