.navbar {
	align-items: center;
	background: $blue;
	display: flex;
	height: 2.5rem;
	justify-content: space-between;
	padding: 0 3%;
	z-index: 2;

	&__title {
		color: $white;
		// font-size: 12px;
	}
}