.navbar {
	align-items: center;
	background: $blue;
	display: flex;
	height: 2.5rem;
	justify-content: space-between;
	padding: 0 3%;
	z-index: 2;

	&__logo {
		background-image: url("/logoFullDark.svg");
		background-repeat: no-repeat;
		background-size: cover;
    height: 23px;
    width: 64px;
	}
}