.searchbar {
	align-items: center;
	background: $dark-blue;
	display: flex;
	height: 2rem;
	margin-bottom: 10px;
	padding: 0.4rem 6% 0.5rem;
	z-index: 2;

	&__icon {
		color: $white;
	}

	&__input {
		background: transparent;
		border: 0;
		color: white;
		font-style: italic;
		flex-grow: 1;
		height: 1.5rem;
		outline: none;
		margin-left: 0.5rem;
		
		&:placeholder {
			color: $grey;
			font-style: italic;
			opacity: 0.3;
		}
	}
}