.tab {
  align-items: center;
  background: transparent;
  display: inline-flex;
  width: 100%;

  &__title {
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;

    &--bold{
      font-weight: bold;
    }
  }

  &__close {
    color: $blue;
    display: none;
    margin: 8px;
  }

  &:hover {
    background: $light-grey;
    cursor: pointer;

    & .tab-checkbox .tab-checkbox__btn{
      display: block;
    }


    .tab__close {
      display: block;
    }
  }
}

.tab-checkbox {
  align-items: center;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 8px 16px;
  position: relative;
  width: 30px;

  &__favicon {
    height: 16px;
    width: 16px;
  }

  &__btn {
    color: $light-blue;
    display: none;
    position: absolute;
  }

  &__btn--pin {
    right: -3px;
    transform: rotate(45deg);
    top: -3px;
  }

  &__btn--mute {
    bottom: -3px;
    right: -3px;

    &:after{
      content: 'x';
    }
  }

  &__btn--enabled {
    color: $blue;
    display: block;
  }
}