.tab {
  align-items: center;
  background: white;
  display: inline-flex;
  height: 30px;
  padding: 6px 0;
  width: 100%;

  &__title {
    align-items: center;
    display: inline-flex;
    height: 100%;
    overflow: hidden;
    padding-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;

    &--bold {
      font-weight: bold;
    }

    &--checked {
      color: $yellow;
    }
  }

  &__close {
    color: $blue;
    display: none;
    margin: 8px;
  }

  &__dragged-counter {
    align-items: center;
    background: $light-blue;
    color: white;
    border-radius: 16px;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: -4px;
    text-align: center;
    top: -4px;
    width: 20px;
  }

  &--dragged {
    display: none;
  }

  &:hover {
    background: $light-grey;
    cursor: pointer;

    & .tab-checkbox .tab-checkbox__action{
      display: flex;
    }

    .tab__close {
      display: block;
    }
  }
}

