.tab {
  align-items: center;
  background: white;
  display: inline-flex;
  height: 2.5rem;
  width: 100%;

  &__title {
    align-items: center;
    display: inline-flex;
    height: 100%;
    overflow: hidden;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;

    &--bold {
      font-weight: bold;
    }

    &--checked {
      color: $yellow;
    }
  }

  &__close {
    color: $blue;
    display: none;
    margin: 0.5rem;
  }

  &__dragged-counter {
    align-items: center;
    background: $blue;
    color: white;
    border-radius: 1rem;
    display: flex;
    font-size: 0.8rem;
    height: 1.25rem;
    justify-content: center;
    position: absolute;
    right: -0.5rem;
    text-align: center;
    top: -0.5rem;
    width: 1.25rem;
  }

  &--dragged {
    opacity: 0.3;
  }

  &:hover {
    background: $light-grey;
    cursor: pointer;

    & .tab-checkbox .tab-checkbox__action{
      display: flex;
    }

    .tab__close {
      display: block;
    }
  }
}

