.tab {
  align-items: center;
  background: transparent;
  display: inline-flex;
  width: 100%;

  &__title {
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
  }

  &__close {

  }

  &:hover {
    background: $grey;
    cursor: pointer;
  }
}

.tab-checkbox {
  align-items: center;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 8px 16px;
  position: relative;
  width: 30px;

  &__icon {
    height: 16px;
    width: 16px;
  }

  &__pin-btn {
    bottom: 0;
    color: $blue;
    position: absolute;
    right: 0;
  }
}