.window {
	background:white;
	border-radius: 0.4rem;
	box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-bottom: 1rem;
	width: 94%;

	&__tab-list{
		background: white;
		border-radius: 0 0  0.4rem 0.4remx;
		padding: 0.5rem 0;
		width: auto;
	}

	&__new-tab {
		background: white;
		border: 0px;
		border-radius: 0 0 0.4rem 0.4rem;
		border-top: 1px solid $grey;
		color: $blue;
		cursor: pointer;
		outline: 0;
		padding: 0.5rem 0;

		&:hover{
			color: $yellow;
		}
	}
}

