$blue: #293E52;
$dark-blue: #1C2C3B;
$light-blue: #4b93d6;
$light-grey: #C2C9DE;

.options{
  display: flex;
  flex-direction: column;
  font-size: 16px;

  &__wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    .options__label{
      color: $light-blue;
      font-size: 12px;
    }
    
    .select__wrapper{
      position: relative;
      
      &::after{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $blue;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        z-index: -1;
      }
    }

    .options__item {
      border: 0;
      border-bottom: 1px solid $light-grey;
      color: $dark-blue;
      cursor: pointer;
      padding: 8px 0;
  
      &--input{
        padding: 8px 0;
      }
  
      &--select{
        background: transparent;
        position: relative;
        width: 100%;
      }
    }
  }
}